body{
	background: #4AC29A;
	background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);
	background: linear-gradient(to left, #BDFFF3, #4AC29A); 
	margin-bottom: 20px;
}

#header-nav{
	background: #8E2DE2;
	background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
	background: linear-gradient(to right, #4A00E0, #8E2DE2);
    color: white;
    font-size: 2em;
}

#header-title{
	cursor: pointer;
}

#question-buttons{
	text-align: center;
}

#view-questions{
	border-style: solid;
	border-radius: 25px;
	border-width: 2px;
	border-color: black;
}

#myTable_filter{
	display: none;
}

select{
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
    border-radius: 28px;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
	background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
	background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
	font-family: Arial;
	color: black;
    font-size: 17px;
	padding: 10px;
	text-decoration: none;
}

select:hover{
	background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);  
	background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);  
	background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);  
	background-image: -o-linear-gradient(top, #2079b0, #eb94d0);  
	background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
}

#fns{
	background-color: lightcyan;
}